<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Forgot Password</title>
</head>
<body>
  <div class="wrapper">
    <div class="logo">
      <!-- You can include the logo if needed -->
    </div>
    <div class="text-center mt-6 name">
      Forgot Password
    </div>
    <form class="p-3 mt-3" method="POST" action="/forgot_password">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-envelope"></span>
            <input type="email" name="email" id="email" placeholder="Email">
          </div>
        <button class="btn mt-3" type="submit">Submit</button>
    </form>
    
    </form>
    <div class="text-center fs-6">
      <a href="{{ url_for('home') }}">Back to Login</a>
    </div>
  </div>
</body>
</html>
